.minuteurGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    width: fit-content;
    margin: 0 auto;

    >button {
        font-size: 5vh;
        text-align: center;
        background-color: #1b1b1b;
        border: none;
        color: #e84393;
    }
    >button:hover{
        color: white;
    }

    >input {
        font-size: 10vh;
        text-align: center;
        width: 2em;
        background-color: #1b1b1b;
        border: none;
        color: white;
    }

    > div {
        text-align: center;
        color:#e84393;
        letter-spacing: 0.5em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

}
.minuteurButton{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    > button {
        height: 15vh;
        margin-top: 10vh; 
        background: #e84393;
        border: none;
        border-radius: 50%;
        > img {
            width: 15vh;
        }
    }
}

.minuteurButton > button:hover {
    border-radius: 40%;
}

input:focus {
    border: none;
}

#minuteurFinal{
    font-size: 20vh;
    color: white;
    text-align: center;
}