*{
    padding:0;
    margin:0;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

body{
    background-color: #1b1b1b;
    height: 100vh;
    position: relative;
}


/*** Header **/
header{
    box-sizing: border-box;
    width: 100vw;
    height: 18vh;
}


/*** Main **/
main{
    box-sizing: border-box;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 82vh;
}


/*** Nav **/
nav{
    box-sizing: border-box;
    width: 100vw;
    height: 18vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav > span{
    height:18vh;
    width: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > span > img{
    height:10vh;
    transition: all 200ms;
}

nav > span > img:hover{
    height:12vh;
}

.iconActive{
    height: 12vh;
}
#navBarre{
    background-color: #00b894;
    height: 5px;
    display:block;
    position:absolute;
    width: 14vh;
    left: -20vh;
    bottom: 0;
    transition: all 400ms;
}

footer{
    position: absolute;
    bottom: 0;
    right: 50%;
    border-radius: 10px 10px 0 0;
    background-color: #0c0c0c;
    color: #313131;
    translate: 50%;
    width: fit-content;
    text-align: center;
    padding: 0.5em 1em;
}




@media (orientation: portrait) {

    body {
        height: 100svh;
      }
    nav > span > img{
        height: 15vw;
    }
    nav > span > img:hover{
        height: 22vw;
    }
    #navBarre{
    width: 15vw;
    left: 5vw;
    }
    .iconActive{
        height: 22vw;
    }
    main{
        height: 70vh;
    }
    footer{
        font-size: 0.9em;
        width: 80%;
    }
}